@import "tailwindcss";

:root {
  --background: #fff2d5;
  --text-primary: #8c532a;
}

@theme inline {
  --color-background: var(--background);
  --color-text-primary: var(--text-primary);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: "DBHeaventRounded", -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.8px;
}

.containter {
  width: 100%;
  min-height: 100vh;
  background-image: url('/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

@font-face {
  font-family: "DBHeaventRounded";
  src: url("/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input[type="checkbox"] {
  accent-color: var(--text-primary);
}